@page "/{TeamId}/estimate"

@implements IAsyncDisposable

<MudContainer Class="mt-16">
    <MudCard>
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.subtitle1">Team Estimates</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudGrid>
                <MudItem xs="12" md="12">
                    <MudTextField @bind-Value="@UserName" Label="Name" Variant="Variant.Outlined" />
                </MudItem>
                <MudItem xs="12" md="12">
                    @foreach(var option in EstimateOptions)
                    {
                         <MudButton Variant="GetButtonType(option)" 
                             Color="Color.Secondary" 
                             Class="mr-2"
                             OnClick="args=>SetEstimate(option)">@option</MudButton>
                    }

                    <MudButton Variant="MudBlazor.Variant.Filled"
                        Color="Color.Primary"
                        StartIcon="@Icons.Material.Outlined.Send"
                        Class="ml-4"
                        OnClick="SubmitEstimate"
                        Disabled="@(!IsConnected)">
                        Submit
                    </MudButton>
                </MudItem>
                <MudItem xs="12" md="12">
                    <MudDivider/>
                    <MudButton Variant="MudBlazor.Variant.Outlined"
                        StartIcon="@Icons.Material.Filled.AccountCircle"
                        Class="mr-2 mt-3 mb-3"
                        OnClick="Show"
                        Disabled="@(!IsConnected)">
                        Show
                    </MudButton>
                    <MudButton Variant="MudBlazor.Variant.Outlined"
                        StartIcon="@Icons.Material.Filled.HighlightOff"
                        Class="mr-2 mt-3 mb-3"
                        OnClick="Hide"
                        Disabled="@(!IsConnected)">
                        Hide
                    </MudButton>
                     <MudButton Variant="MudBlazor.Variant.Filled"
                        StartIcon="@Icons.Material.Filled.Refresh"
                        Class="mr-2 mt-3 mb-3"
                        OnClick="Reset"
                        Disabled="@(!IsConnected)">
                        Reset
                    </MudButton>
                    <MudDivider/>
                </MudItem>
                <MudItem>
                    @if (AreMessagesVisible)
                    {
                        @foreach (var item in Estimates)
                        {
                            <MudPaper Class="pa-16 ma-2" 
                                Outlined="true"
                                Style="text-align: center">
                                <MudText Typo="Typo.h3">@item.Value.Body</MudText>
                                <MudText Typo="Typo.subtitle1">@item.Value.UserName</MudText>
                            </MudPaper>
                        }
                    }
                </MudItem>
            </MudGrid>
        </MudCardContent>
    </MudCard>
    
</MudContainer>


@*<div class="form-group">
    <label>
        User:
        <input @bind="userInput" />
    </label>
</div>
<div class="form-group">
    <label>
        Message:
        <input @bind="messageInput" size="50" />
    </label>
</div>
<button @onclick="Send" disabled="@(!IsConnected)">Send</button>

<hr>

<ul id="messagesList">
    @foreach (var message in messages)
    {
        <li>@message</li>
    }
</ul>*@