@page "/{TeamId}/estimate"
<MatHeadline2>Team Estimator</MatHeadline2>
<MatSubtitle1>A way for teams to estimate work in a virtual environment</MatSubtitle1>

<MatTextField @bind-Value="UserName" Label="User Name" FullWidth="true" />
<br />
<MatSubtitle1>Choose Your Estimate</MatSubtitle1>

@foreach (var item in EstimateOptions)
{
    <MatButton Value="@item" 
               Label="@item" 
               OnClick="@(args=>SetEstimate(item))" 
               Icon="@(EstimatedValue == item ? MatIconNames.Check:"")"
               Outlined="@(EstimatedValue == item)"
               />
}

&nbsp;
&nbsp;
<MatButton Raised="true" OnClick="Submit" Icon="@(IsSubmitted ? MatIconNames.Check_circle: MatIconNames.Save_alt)">Submit</MatButton>&nbsp;

<br />
<br />
<MatDivider />
<br />
<MatButton Outlined="true" OnClick="Show" Icon="@MatIconNames.Account_circle">Show</MatButton>&nbsp;
<MatButton Outlined="true" OnClick="Hide" Icon="@MatIconNames.Highlight_off">Hide</MatButton>&nbsp;
<MatButton Dense="true" OnClick="Reset" Icon="@MatIconNames.Refresh">Reset</MatButton>

@if (AreMessagesVisible)
{
    <MatHeadline4>Team Results</MatHeadline4>
    <br/>
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            @foreach (var message in Estimates.Values)
            {
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                    <MatPaper Elevation="10" Rounded="true" Outlined="true" Style="text-align: center">
                        <MatHeadline3>@message.Body</MatHeadline3>
                        <MatSubtitle1>@message.Username</MatSubtitle1>
                    </MatPaper>
                </div>
            }
        </div>
    </div>
}
